@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* padding */
  --lg: 1.5rem;
  --xl: 2rem;
}

.map-container {
  width: 100%;
  height: 96dvh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }


}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.marker {
  background-color: #eeeeee;
  border-radius: 25px;
  /* width: 2000px;
  height: 340px; */
  /* transition: transform 0.1s ease-in-out; */
  max-width: 170px;
  max-height: 34px;
  /* color: rgb(33, 33, 33); */
  font-size: 12px;
  position: relative;
  /* border: 1px solid blue; */
  border: 2px solid rgb(255, 255, 255);
  /* border-style: */
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, .1); */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  gap: 4px;
  padding: 2px 3px;
}

.marker-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(255, 255, 255);
}


/* .marker-selected {
  transition: scale 0.1s ease-in-out;
  background-color: #ffffff;
  border-radius: 8px;
  scale: 1.3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
} */

/* .marker:hover {
  transform: scale(1.03);
} */

.marker::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #ffffff;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* *::-webkit-scrollbar {
  width: 6px;
} */

/* *::-webkit-scrollbar-track {
  background: red;
}  */

@layer components {

  .primary-bg {
    @apply bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 dark:bg-gradient-to-r dark:from-zinc-500 dark:via-zinc-600 dark:to-zinc-700 shadow-sm shadow-blue-500/50 dark:shadow-zinc-500/50;
  }

}