@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* padding */
  --lg: 1.5rem;
  --xl: 2rem;
}

.map-container {
  width: 100%;
  height: 96dvh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }


}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.marker {
  /* keep this marker on top of everything */
  z-index: 999;
  border-radius: 18px;
  max-height: 44px;
  position: relative;
  border-radius: 25px;
}

.marker:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 3px;
  width: auto;
  gap: 2px;
  padding: 2px 4px;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(255, 255, 255);
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, .1); */
}

.marker-title {
  /* hide if there is not space for this entire view to fit */
  display: none;
}

.marker:hover .marker-title {
  display: inline;
}

.marker-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  background-image: url('/marker.png');
  background-size: contain;
  background-position: center;
  /* border: 2px solid rgb(255, 255, 255); */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  */
  /* font-size: 24px; */
}

/* .marker::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #dfe8fd;
} */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* *::-webkit-scrollbar {
  width: 6px;
} */

/* *::-webkit-scrollbar-track {
  background: red;
}  */

@layer components {

  .primary-bg {
    @apply bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 dark:bg-gradient-to-r dark:from-zinc-500 dark:via-zinc-600 dark:to-zinc-700 shadow-sm shadow-blue-500/50 dark:shadow-zinc-500/50;
  }

}